 
   
   .attribution {
       font-size: 11px;
       text-align: center;
   }

   .attribution a {
       color: hsl(228, 80%, 70%);
   }

/* Background */

  body {
      background-image: url("./images/bg-desktop.svg");
      background-color: hsl(257, 40%, 49%);
      color: white;
  }

@media (max-width: 425px) {

body{
background-image: url("./images/bg-mobile.svg");
}

   }

/* spacing */
.container{
    margin-top: 5vh;
    margin-bottom: 4vh;
}
.mg-sides{
    padding: 5%;
}

   /* Typography */

   h1{
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
   }
   p{
       font-family: 'Poppins', sans-serif;
   }
   a{
       font-family: 'Open Sans', sans-serif;
       font-weight: 400;
   }

   /* img */
.illustration-mockups{
width: 100%;
   }


   /* Btn */
   .btn{
      font-family: 'Open Sans',sans-serif;
      font-weight: 400;
    border-radius: 999px;
    width: 180px;
    color: #666666

   }

   @media (max-width: 425px) {
.btn{
    width: 80%;
}
   }


   /* align item */
.links-align {
    text-align: end;
}

    @media (max-width: 425px) {
 .btn-align{
    margin-right: auto;
    margin-left: auto;
   }
.align-center{
    text-align: center;
}
.links-align {
text-align: center;
}
    }

    
    /* border decoration */
.border-items{
   border-style: solid;
   border-width: 1px;
   margin: 4px;
   padding: 10px;
clear: right;
position: relative;
   text-align: center;

   border-radius: 999px;
}
